body{
    
    font-family: 'PT Sans', sans-serif;
    margin: 0%; 
}

h1{
    font-size: 45px;
}
.name{

    color: #0000ff;
}

p{

    text-align: justify;
    margin-bottom: 5%;
    color: black;
    
}

.link_btn{
    color: white;
    text-decoration: none;
    background-color:#0000ff;
    padding: 10px 20px;
    font-weight: 700;
    border-radius: 5px;
    margin-top: 30%;
    text-shadow: 2px solid;
    

}
/* unvisited link */

a:link {
    color: green;
    
  }
  
  /* visited link */
  a:visited {
    color: rgb(255, 255, 255);
  }
  
  /* mouse over link */
  a:hover {
    color: rgb(243, 241, 241);
    background-color: green;
 
  }
  .about-section{
    display: flex;
    margin-bottom: 130px;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;

  }

  .about{
    margin-top: 2%;
    width: 50%;
    padding-left: 7%;
  }

 .about img{
    width: 80%;
  }


  .dream-section{
    display: flex;
    margin-bottom: 120px;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
  }

  .dream{
    width: 50%;
    padding-left: 7%;
  }
  .dream img{
    width: 70%;
  }
  .title{
      font-size: 26px;
  }
  .right{
      margin-right: 10%;
  }

  .experience-section{
    background-image: url(images/exp-bg.png);
    background-position: left;
    background-repeat: no-repeat;
    padding-left: 7%;

  }
  .ex-container{
    display: flex;
    margin-bottom: 130px;
  }

  .experience{
    width: 40%;
    box-shadow: 5px 10px 40px gray;
    padding: 10px 10px;
    border-radius: 5px;
    border-left: 5px solid;
    border-image: linear-gradient(blue,cyan);
    border-image-slice: 1;
  }
  .experience1{
    width: 40%;
    box-shadow: 5px 10px 40px gray;
    padding: 10px 10px;
    border-radius: 5px;
    margin-left: 6%;
    border-left: 5px solid;
    border-image: linear-gradient(green,blue);
    border-image-slice: 1;
    
  }

  h4{
      color: tomato;
  }

  footer{
    text-align: center;
  }